#container{
    height: 400px;
    width: 400px;
    margin: 40px;
    border: 2px solid black;
    /* background-image: linear-gradient(red,blue 120%); */
    /* background-image: linear-gradient(red,blue 20%); */
    /* background-image: linear-gradient(red,cyan 40% ,blue); */
    /* background-image: linear-gradient(red,cyan 40% ,blue 120%); */
    /* background-image: linear-gradient(red,cyan,blue 200px); */
    /* background-image: linear-gradient(to right,cyan,red,blue 200px);
    background-image: linear-gradient(to top,cyan,red,blue 200px);
    background-image: linear-gradient(to top right,cyan,red,blue 200px);
    background-image: linear-gradient(0deg,cyan,red,blue 200px); */
    /* background:repeating-linear-gradient(red,cyan 200px) */
    /* to be explore */
    background:radial-gradient(red,cyan,blue)
}