html{
    font-size: 30px;
}
/* desktop frst */
 /* #div1{
    width:60%;
     padding: 5px;
     border: 1px solid black;
 } */
 /* @media screen and (max-width:600px){
 */
/* correct */
/* break point-1 */
 
/* @media screen and (max-width:900px){
    #div1{
       width:90%;
        }   
    } */
/* break point- */

 /* @media screen and (max-width:600px){
    #div1{
       width:100%;
        }    */

     /*#################################  */

 /* wrong */
 /* @media screen and (max-width:600px){
    #div1{
       width:100%;
        }   

        @media screen and (max-width:900px){
            #div1{
               width:90%;
                }   
        


    } */



    /* mobile first aooprch*/
    #div1{
        width:60%;
         padding: 5px;
         border: 1px solid black;
     }

     @media screen and (min-width:600px){
        #div1{
           width:80%;
            }   
    
            @media screen and (min-width:900px){
                #div1{
                   width:60%;
                    }       
}

